@font-face {
  font-family: "EB Garamond";
  src:
    url(ebgaramondmedium.ttf) format("truetype"),
    url(ebgaramondmedium.woff) format("woff"),
    url(ebgaramondmedium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "EB Garamond";
  src: 
    url(ebgaramondregular.ttf) format("truetype"),
    url(ebgaramondregular.woff) format("woff"),
    url(ebgaramondregular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:
    url(interregular.ttf) format("truetype"),
    url(interregular.woff) format("woff"),
    url(interregular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src:
    url(interbold.ttf) format("truetype"),
    url(interbold.woff) format("woff"),
    url(interbold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}